<div>
    <video controls>
        <source src="{{ video_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h1>{{ title }}</h1>
    <div>
        <h2>{{ author_name }}</h2>
        <p>{{ created_at }}</p>
        <button>
            <img src="https://image.similarpng.com/very-thumbnail/2020/06/Icon-like-button-transparent-PNG.png">
            <div>Like</div>
        </button>
        <button>
            <img src="https://images.techhive.com/images/article/2015/11/dislike_facebook-100627022-large.jpg?auto=webp&quality=85,70">
            <div>Dislike</div>
        </button>
    </div>
    <div>{{ description }}</div>
</div>
